.btnStep {
    border: none;
    border-radius: 15px;
    background-color: #33c3f0;
    color: #f0f3f5;
    border-color: #33c3f0;
    height: 25px;
    padding: 1px;
    width: 25px;
}
.btnStep:hover {
    color: #f8f9fa;
    background-color: #63c2de;
    border-color: #63c2de;
}
.btnStep.disabled, .btnStep:disabled {
    background-color: #63c2de94;
    border-color: #63c2de94;
    color: #f8f9fa;
}
.btnStep:focus, .btnStep.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(175, 181, 186, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(175, 181, 186, 0.5);
    background-color: #1d9ecc;
    color: #f8f9fa;
}
.txtStep{
    color: #5c6873;
}
.txtStep.focus {
    font-weight: bold;
    color: #5c6873;
}
.txtStep.disabled {
    color: #c8ced3;
}
.font-5stepper {
    font-size: 19px;
}

.ReactCollapse--collapse {
    /*max-width: 800px;*/
    border-top: 0px solid rgba(0, 0, 0, 0.3);
    border-radius: 0px;
    /*background-color: rgba(100, 255, 100, 0.1);*/
    transition: height 500ms;
  }
.collapse-text {
    font-size: 12px;
}
.btn-custom {
    border-radius: 10px;
    width: 100%;
    background-color: #3b86ff;
    color: white;
    padding: 5px;
    text-align: center;
    font-size: 14px;
}

.cursor-pointer {
    cursor: pointer;
    font-size: 14px;
}