input[type="checkbox"]:disabled:checked, input[type="radio"]:disabled:checked {
    /* --b: var(--disabled-inner); */
    --b: var(--border);
    --bc: var(--border);
}

input[type="radio"]:focus {
    box-shadow: inset 0 0 0 7px hsl(225, 99%, 57%, 1);
    outline: none;
}
